@charset "utf-8";


/* =============================================================================
    RESET
============================================================================= */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #8c8c8c;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #8c8c8c;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8c8c8c;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #8c8c8c;
}



/* =============================================================================
    GENERAL
============================================================================= */
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #1d1a19;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

.logo-container {
    width: 90%;
    max-width: 372px;
    margin: 60px auto 0;
}

.logo {
    width: 100%;
    height: auto;
}

.baseline {
    color: #dedcce;
    font-size: 14px;
    text-align: right;
    display: block;
}

.search-form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

div.region-select {
  margin: 0 auto;
  margin-left: 1px;
  width: 100%;
  max-width: 506px;
  margin-top: -26px;
  position: relative;
  z-index: 1;
  /*opacity: 0;*/
  -webkit-transition: margin-top 1s;
     -moz-transition: margin-top 1s;
          transition: margin-top 1s;
}

.region-btn {
  width: 10.1%;
  min-width: 28px;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #00aa88;
}

.search-field {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    color: #3c3430;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, .8);
       -moz-box-shadow: 0 0 0 4px rgba(255, 255, 255, .8);
            box-shadow: 0 0 0 4px rgba(255, 255, 255, .8);
    -webkit-transition: box-shadow .5s ease-in-out, border .5s ease-in-out;
       -moz-transition: box-shadow .5s ease-in-out, border .5s ease-in-out;
            transition: box-shadow .5s ease-in-out, border .5s ease-in-out;
}

.search-field:focus,
.search-field:hover {
    outline: 0;
    -webkit-box-shadow: 0 0 0 3px rgba(173, 208, 163, .8);
       -moz-box-shadow: 0 0 0 3px rgba(173, 208, 163, .8);
            box-shadow: 0 0 0 3px rgba(173, 208, 163, .8);
}

.search-field {
  position: relative;
  z-index: 2;
}

.search-field:hover ~ .region-select {
  margin-top: 1px;

}
.search-field:focus ~ .region-select {
  margin-top: 1px;
}

.region-select:hover {
  margin-top: 2px;
}

.region-btn-group {
  width: 100.5%
}