html {
}


body {
  font-family: Helvetica, Arial;
  /*background: #F3F3F3 repeat;*/
}

input#ipt_gameStatsSearch {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999999 ;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

input#ipt_checkMMR {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999999 ;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

input#btn_getGame {
  background: #DCDCDC;
  border: 0px;
  border-bottom: solid;

}

input#btn_checkMMR {
  background: #DCDCDC;
  border: 0px;
  border-bottom: solid;
}

table
{
  border-collapse:collapse;
}

table,th, td
{
  border: 0px solid black;
}

td
{
  padding: 5px;
  line-height: 0px;
  cellspacing: 10px;
  vertical-align: middle;
  text-align: left;
}

tr
{
  border-spacing: 0;
  border-collapse: collapse;
}


p#msg
{
  font-size:13px;
  line-height: 15px;
}

div#champRotationShow {
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
}

.league {
  position: relative; top: 0px
}

img{
  vertical-align:middle;
}

td#lineTop {
  font-size: 1px;
  height: 1px;
  line-height: 1px;
  padding: 1px;
  cellspacing: 1px;
  background: #00bbff;
}

td#lineBottom {
  font-size: 1px;
  height: 1px;
  line-height: 1px;
  padding: 1px;
  cellspacing: 1px;
  background: #9955ff;
}

.tableHeader {
  position: relative; bottom: 5px;
  text-align: center;
}

span#p_s_last10matches {
  position: relative; left: 5px
}

.tenGames {
  position: relative; left: 15px
}

.promotionIcon {
  width: 10px;
  height: 10px;
}

.promoIconArea {
  width: 120px;
  heigth: 15px;
  position: absolute;
  left: 41px;
  bottom: -2px;
  font-size: 13px;
}

span#region-select-main {
  float: right;
  width: 20px;
  margin-top: -21px;
  margin-right: 22px;
  cursor: pointer;
  position: relative;
  opacity: 0;
  z-index: -1;
  -webkit-transition: z-index 0.5s, opacity 0.6s ease-out;
  -moz-transition: z-index 0.5s, opacity 0.6s ease-out;
  transition: z-index 0.5s, opacity 0.6s ease-out;
}
#ipt_gameStatsSearch:hover ~ #region-select-main {
  opacity: 1;
  z-index: 1;
}

#ipt_gameStatsSearch:focus ~ #region-select-main {
  opacity: 1;
  z-index: 1;
}

#region-select-main:hover {
  opacity: 1;
  z-index: 1;
}

#dropdown-main-region > ul > li {
  height: 30px;
}

@media screen and (max-device-width:900px) {
  span[champion-name-responsive] {
    display: none;
  }

  img[champion-icon-responsive] {
    min-width: 30px;
    min-height: 30px;
  }

  span[league-tier-responsive] {
    display: none;
  }

  .league {
    min-width: 110px;
  }

  .champion-name {
    min-width: 70px;
    /*font-size: 10px;*/
    /*max-width: 72px;*/
    /*margin-right: 20px;*/
  }

  /*.span_playerName {*/
  /*min-width: 80px*/
  /*}*/

  .champion-icon {
    min-width:35px
  }

  .summoner-spell {
    min-width: 27px;
  }

  .player-name-responsive {
    min-width: 90px;
    /*max-width: 150px;*/
    /*word-wrap: break-word;*/
    /*min-height: 100px;*/
  }



  .tenGames {
    min-width: 40px;
  }

  img#mid-bar {
    display: none;
  }

  div[top-bar] {
    min-width: 720px;
  }

  div[search-area] {
    /*-webkit-transform: translate(100px,0px);*/
    /*-moz-transform: translate(100px,0px);*/
    /*-ms-transform: translate(100px,0px);*/
    /*-o-transform: translate(100px,0px);*/
    /*transform: translate(100px,0px);*/
  }

  #myTab {
    min-width: 715px;
  }

  #masteryTreeWindow {
    -webkit-transform: scale(0.75, 0.75);
    -moz-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -o-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
  }

  img[spell-responsive] {
    max-width: 15px;
    max-height: 15px;
    /*-webkit-transform: translate(-5px,0px);*/
    /*-moz-transform: translate(-5px,0px);*/
    /*-ms-transform: translate(-5px,0px);*/
    /*-o-transform: translate(-5px,0px);*/
    /*transform: translate(-5px,0px);*/
  }

  /*img[spell-right] {*/
  /*margin-right: -12px;*/
  /*}*/

  .promoIconArea {
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    -o-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
  }
}