div#champRotationShow {
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
}
/*
html {
width: 100%;
height: 100%;
}
body {
background-image: url(../backgroundPic/bgPic.jpg);
background-repeat: no-repeat;
background-size: cover;
}
*/
/*
p#freeChampBtn,p#lolDataBtn,div#champRotationShow,h1#ggHeader {
position: absolute;
z-index:10;
}
*/
