html {
}


body {
  font-family: Helvetica, Arial;
  background: #F3F3F3 repeat;
}

div#statsSearch {
 /*
  width: 260px;
  height: 2rem;
  margin: auto;
  */
}

div#checkMMR {
/*
  width: 260px;
  height: 2rem;
  margin: auto;
  */
}
div#showMMR {
  /*
  width: 260px;
  height: 2rem;
  margin: auto;
  */
}

input#ipt_gameStatsSearch {
  border: 0px;
  width: 200px;
  height: 1rem;
  /*float: left;*/
}
input#ipt_MMR {
  position: relative;left:-2px;
  border: 0px;
  width: 200px;
  height: 1rem;
  /*float: left;*/
}

input#btn_getGame {
  background: #DCDCDC;
  border: 0;
  /*float: left;*/
}

input#btn_getMMR {
  background: #DCDCDC;
  border: 0;
  /*float: left;*/
}

table
{
  border-collapse:collapse;
}

table,th, td
{
  border: 0px solid black;
}

td
{
  padding: 5px;
  line-height: 0px;
  cellspacing: 10px;
  vertical-align: middle;
  text-align: left;
}

tr
{
  border-spacing: 0;
  border-collapse: collapse;
}


p#msg
{
  font-size:13px;
  line-height: 15px;
}

div#champRotationShow {
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
}

.league {
  position: relative; top: 0px
}

img{
  vertical-align:middle;
}